<svg>
	<defs>
		<mask id='hide_lines'>
			<circle cx="0" cy="0" r="10000" fill='white' />
			<path transform="translate(500,480)" fill="rgba(0,0,0,1)"  d="M -25, 0 m -75, 0 a 75,75 0 1,0 200,0 a 75,75 0 1,0 -200,0"  />
		</mask>
	</defs>
	<g>
		<circle cx="500" cy="480" r="100" class="itemOpener"  ng-click="vrContentvsvrChild(item, $event)"/>
		<g class="mainCircle" fill-rule="evenodd">
			<path transform="translate(500,480)" stroke-dashoffset="0" id="mainBodyCircle" stroke-dashoffset="1000" d="M -25, 0 m -75, 0 a 75,75 0 1,0 200,0 a 75,75 0 1,0 -200,0"  />
			<path-line d="{{ content.d }}" stroke="white" mask="url(#hide_lines)" ng-repeat="(k, content) in item.content" strokedashoffset="0"></path-line>
		</g>
	</g>		
</svg>
<div class="vrContent" ng-style="{ 'left': content.x, 'top': content.y }" x="{{ content.x}}" y="{{ content.y }}" ng-repeat="(k, content) in item.content" ng-class="{'margined': content.isMargined}" ng-show="content.isMargined">
	<div class="icon"></div>
	<div class="content" ng-class="{ 'margined': !content.isMargined }" >
		<!-- <div ng-if="!content.vrChildren.length" ng-bind-html="content.htmlBinder"></div> -->
		<div ng-if="!content.vrChildren.length" >
			<iframe width="560" height="315" src="https://www.youtube.com/embed/nH7bjV0Q_44" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="vrChild" ng-if="content.vrChildren.length" ng-style="{ 'left': vrChild.x, 'top': vrChild.y }" x="{{vrChild.x}}" y="{{vrChild.y}}" ng-repeat="vrChild in content.vrChildren">
			<div class="icon"></div>
			<!-- <div class="content" ng-class="{ 'margined': !content.isMargined }" ng-bind-html="vrChild.htmlBinder"></div> -->
			<div class="content" ng-class="{ 'margined': !content.isMargined }">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/nH7bjV0Q_44" frameborder="0" allowfullscreen></iframe>
			</div>
			<span svg-line child="{{vrChild}}" parent="{{ content }}" parentIndex="{{ k }}"></span>
		</div>
	</div>	
</div>