<md-content class="form-container" ng-show='vrweb.form'  layout="column" layout-align="center" ng-init="submitted=false">
	<h4>Editor</h4>
	<md-button class="md-fab md-mini close-button" ng-click="close()" aria-label="Close"> + 
		<md-tooltip>Close</md-tooltip>
  	</md-button>
	<md-whiteframe layout layout-align="center">
		<form name="halloVRForm" flex novalidate>
			<section layout="column" layout-sm="column">
				<md-select name="types" placeholder="Select a type" ng-model="newVrObjectForm.type">
					<md-option ng-value="key" ng-repeat="(key,opt) in selectOptions">{{ opt.type }}</md-option>
				</md-select>
			</section>
			
			<section layout="column" layout-sm="column" ng-include src="selectOptionView(newVrObjectForm.type)">
				<!-- append form-->
			</section>

			<section layout="row" layout-sm="column" style="margin: 1.4em 0;">
				<md-button ng-disabled="!halloVRForm.$valid" ng-click="submitted=true && halloObj()" class="md-raised md-primary md-button">Add</md-button>
			</section>
			
		</form>
	</md-whiteframe>
</md-content>